##实体类代码
package ${table.packageName}.model;

import java.io.Serializable;

import blade.plugin.sql2o.Table;

/**
 * ${table.className}对象
 */
@Table(value = "${table.tableName}", PK = "${table.pkName}")
public class ${table.className} implements Serializable {

	private static final long serialVersionUID = 1L;
	
#foreach( $tempColumn in $table.columnList)
#if(${tempColumn.columnComment.trim()} != '')
	//${tempColumn.columnComment.trim()}
#end
	private ${tempColumn.fieldType} ${tempColumn.columnName};
	
#end
	public ${table.className}(){}
	
#foreach( $tempColumn in $table.columnList )
#if(${tempColumn.fieldType}=="Date")
#end
	public ${tempColumn.fieldType} ${tempColumn.fieldGetMethod}() {
		return ${tempColumn.columnName};
	}

	public void ${tempColumn.fieldSetMehtod}(${tempColumn.fieldType} ${tempColumn.columnName}) {
		this.${tempColumn.columnName} = ${tempColumn.columnName};
	}
	
#end
}