package ${table.packageName}.service;

import java.util.List;

import blade.plugin.sql2o.Page;
import blade.plugin.sql2o.WhereParam;

import ${table.packageName}.model.${table.className};

public interface ${table.className}Service {
	
	public ${table.className} get${table.className}(${table.getFirstPrimaryKey().fieldType} ${table.getFirstPrimaryKey().fieldName});
	
	public ${table.className} get${table.className}(WhereParam where);
	
	public List<${table.className}> get${table.className}List(WhereParam where, String order);
	
	public Page<${table.className}> getPageList(WhereParam where, Integer page, Integer pageSize, String order);
	
	public boolean save(#foreach($tempColumn in $table.columnList)#if(${tempColumn.fieldName}!=${table.getFirstPrimaryKey().fieldName})${tempColumn.fieldType} ${tempColumn.fieldName}#if($velocityCount!=$table.columnList.size()),#end#end #end);
	
	public boolean delete(${table.getFirstPrimaryKey().fieldType} ${table.getFirstPrimaryKey().fieldName});
		
}
