package ${table.packageName}.service.impl;

import java.util.List;

import com.blade.ioc.annotation.Inject;
import com.blade.ioc.annotation.Service;
import com.blade.jdbc.ActiveRecord;
import com.blade.jdbc.core.Take;
import com.blade.jdbc.model.Paginator;

import ${table.packageName}.model.${table.className};
import ${table.packageName}.service.${table.className}Service;

@Service
public class ${table.className}ServiceImpl implements ${table.className}Service {

	@Inject
	private ActiveRecord activeRecord;

	@Override
	public ${table.className} get${table.className}(${table.getFirstPrimaryKey().fieldType} ${table.getFirstPrimaryKey().fieldName}) {
		return activeRecord.byId(${table.className}.class, ${table.getFirstPrimaryKey().fieldName});
	}

	@Override
	public List<${table.className}> get${table.className}List(Take take) {
		if(null != take){
			return activeRecord.list(take);
		}
		return null;
	}
	
	@Override
	public Page<${table.className}> getPageList(Take take) {
		if(null != take){
			return activeRecord.page(take);
		}
		return null;
	}
	
	@Override
	public void save(${table.className} ${table.classNameFirstLower}) throw Exception {
		if(null == ${table.classNameFirstLower}){
			throws new TipException("对象为空");
		}
		try {
			activeRecord.insert(${table.classNameFirstLower});
		} catch (Exception e) {
			throw e;
		}
	}

	@Override
	public void update(${table.className} ${table.classNameFirstLower}) throw Exception {
		if(null == ${table.classNameFirstLower}){
			throws new TipException("对象为空");
		}
		try {
			activeRecord.update(${table.classNameFirstLower});
		} catch (Exception e) {
			throw e;
		}
	}
	
	@Override
	public void delete(${table.getFirstPrimaryKey().fieldType} ${table.getFirstPrimaryKey().fieldName}) {
		if(null == ${table.getFirstPrimaryKey().fieldName}){
			throw new TipException("主键为空");
		}
		try {
			activeRecord.delete(${table.className}.class, ${table.getFirstPrimaryKey().fieldName});
		} catch (Exception e){
			throw e;
		}
	}
		
}
