package {{ table.packageName }}.model;

import java.io.Serializable;
import java.util.Date;
import com.blade.jdbc.annotation.Table;
{% if table.isHump %}
import javax.persistence.Column;
{% endif %}

//{{ table.tableComment }}

@Table(name = "{{ table.tableName }}", pk = "{{ table.pkName }}")
public class {{ table.className }} implements Serializable {

	private static final long serialVersionUID = 1L;

{% for tempColumn in table.columnList %}
{% if tempColumn.columnComment != "" %}
	// {{ tempColumn.columnComment }}

{% endif %}

{% if table.isHump %}
	@Column(name = "{{ tempColumn.columnName }}")
{% endif %}
	private {{ tempColumn.fieldType }} {{ tempColumn.fieldName }};

{% endfor %}
	public {{ table.className }}(){}

{% for tempColumn in table.columnList %}
	public {{ tempColumn.fieldType }} {{ tempColumn.fieldGetMethod }}() {
		return {{ tempColumn.fieldName }};
	}

	public void {{ tempColumn.fieldSetMehtod }}({{ tempColumn.fieldType }} {{ tempColumn.fieldName }}) {
		this.{{ tempColumn.fieldName }} = {{ tempColumn.fieldName }};
	}

{% endfor %}

}