package {{ table.packageName }}.model;

import java.io.Serializable;
import java.util.Date;
import com.blade.jdbc.annotation.Table;

//{{ table.tableComment }}

@Table(name = "{{ table.tableName }}", pk = "{{ table.pkName }}")
public class {{ table.className }} implements Serializable {

	private static final long serialVersionUID = 1L;

{% for tempColumn in table.columnList %}
{% if tempColumn.columnComment != "" %}
	// {{ tempColumn.columnComment }}

{% endif %}
	private {{ tempColumn.fieldType }} {{ tempColumn.columnName }};

{% endfor %}
	public {{ table.className }}(){}

{% for tempColumn in table.columnList %}
	public {{ tempColumn.fieldType }} {{ tempColumn.fieldGetMethod }}() {
		return {{ tempColumn.columnName }};
	}

	public void {{ tempColumn.fieldSetMehtod }}({{ tempColumn.fieldType }} {{ tempColumn.columnName }}) {
		this.{{ tempColumn.columnName }} = {{ tempColumn.columnName }};
	}

{% endfor %}

}